body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (min-width: 992px) {
  #nav-btn {
    display: none;
  }

  .pdfViewer {
    width: 55%;
  }
}

#mainContainer {
  max-width: 100%;
  height: 100%;
  margin-bottom: 1rem;
}

.pdfViewer,
#pdfSection {
  height: 100%
}

.pdfContainer {
  height: 100vh;
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
}